{% extends 'base.html' %}

{% block title %}
    Overview
{% endblock %}

{% block content %}


    <table class="table">
        <thead>
        <tr>
            <th scope="col">Состояние</th>
            <th scope="col">Сумма</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                {% if profit > 0 %}
                    Профит
                {% else %}
                    Убытки
                {% endif %}
            </td>
            <td>{{ profit }}</td>
        </tr>
        </tbody>
    </table>

{% endblock %}