{% extends 'base.html' %}

{% block title %}
    Products
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название</th>
            <th scope="col">Цена</th>
            <th scope="col">Количество</th>
            <th scope="col">Группа</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <th scope="row">{{ product.id }}</th>
                <td><a href="{% url 'products:product_detail' product.id %}">{{ product.name }}</a></td>
                <td>{{ product.price }}</td>
                <td>{{ product.amount }}</td>
                <td>{{ product.group.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}